<div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src={{post.photo}}>
      </div>
      <div class="card-stacked">
        <div class="card-content">
        <h4 class="header">{{post.title}}</h4>
        <p>{{post.text}}</p>
        <p>{{post.date}} {{post.author}}</p>
        {{update-post post=post update="update"}}
        <button {{action 'delete' post}} class="btn">Delete Post</button>
        </div>
      </div>
    </div>
  </div>
<!-- {{post.author}} -->
